<%= form_with model: place, data: { mapTarget: :form }, html: { novalidate: true }, class: "p-4 shadow-md bg-base-200 mx-4" do |f| %>

  <fieldset class="fieldset mx-auto bg-base-100 border-base-300 rounded-box w-auto border p-4">
    <legend class="fieldset-legend">Coordinates</legend>

    <div class="flex flex-col">
      <%= f.label :latitude, class: "label" %>
      <%= f.number_field :latitude, data: {map_target: "lat"}, class: "input w-full input-sm " %>
      <%= render_field_errors(:latitude, place.errors[:latitude]) %>
    </div>

    <div class="flex flex-col">
      <%= f.label :longitude, class: "label" %>
      <%= f.number_field :longitude, data: {map_target: "lng"}, class: "input w-full input-sm " %>
      <%= render_field_errors(:longitude, place.errors[:longitude]) %>
    </div>

  </fieldset>

  <fieldset class="fieldset mx-auto bg-base-100 border-base-300 rounded-box w-auto border p-4">
    <legend class="fieldset-legend">Details</legend>
    <div class="flex flex-col">
      <%= f.label :name, class: "label" %>
      <%= f.text_field :name, class: "input w-full input-sm " %>

      <%= render_field_errors(:name, place.errors[:name]) %>
    </div>

    <div class="flex flex-col">
      <%= f.label :description, class: "label" %>
      <%= f.text_area :description, class: "textarea w-full textarea-sm " %>

      <%= render_field_errors(:description, place.errors[:description]) %>
    </div>
  </fieldset>

  <div class="flex flex-col my-6 text-center">
    <%= f.submit class: "btn btn-success" %>
  </div>
<% end %>
