<fieldset
  data-controller="uploads"
  data-uploads-form-id-value="<%= form_id %>"
  data-uploads-uploads-token-value="<%= uploads_token %>"
  data-uploads-model-name-value="<%= model_name %>"
  data-uploads-uploads-url-value="<%= uploads_path %>"
  data-uploads-csrf-token-value="<%= form_authenticity_token %>"
  class="fieldset mx-auto bg-base-100 border-base-300 rounded-box w-auto border p-4">
  <legend class="fieldset-legend">Images</legend>
  <div data-uploads-target="container">

  </div>
</fieldset>
